html{
    font-size: 62.5%
}

/*header*/
header{
    height: 6.4rem;
    width: 100%;
    position: fixed;
    top: 0rem;
    z-index: 10;
    background-color:white;
}
.logoname{
    display: inline-flex;
    padding-left: 2.4rem;
}
.logoname h1{
    line-height: 3.2rem;
}
#academy{
    color: #D7D7D7;
}

nav{
    display: inline-flex;
    float: right;
    margin:  2.4rem;
}
nav span{
    margin: 0 0.8rem;
}












/* main body */

.main{
    position: relative;
    top: 5.5rem;
}
/*learn*/
.learn{
    background-color: #D7D7D7;
    width: 100%;
    display: inline-flex;
}

.image{
    width: 60%;
    margin: 3.2rem 2.4rem;

}
.image img{
    max-width: 100%;
    height: auto;
    display: block;
}

.mots{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

/*article*/
.articles-publish{
    display: inline-flex;
    width: 100%;
}
.main-article{
    display: block;
    width: 60%;
    margin: 3.2rem 2.4rem;
}
.main-article img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*liste de cours*/
.start{
    display: block;
    background-color: #D7D7D7;
    width: 100%;
    padding-top: 3.2rem;
}
.start-cours{
    display: inline-flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    max-width: 100%;
    margin: 3.2rem 7.2rem;
}
.cours{
    margin: 0 1.6rem 3.2rem 1.6rem;
    background-color: white;
    max-width: 25%;
}
.cours img{
    width: 100%;
    height: auto;
    display: block;
}

.cours .text{
    margin: 1.6rem 1.6rem 2.4rem 2.4rem;
}

/*exposition these*/
.thesis{

}
video{
    max-width: 60%;
}

/*typographie*/
.start h3{
    text-align: center;
    margin: 0 0;
    margin-bottom: 3.2rem;
}
